/* #a9b7c0 ブルーグレー
#c7d8c6　ミント
#efd9c1　ベージュ
#cccbc6　グレー
*/


body {
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

li {
    list-style: none;
}

a{
    color:inherit;
    text-decoration: none;
  }

.header {
    background-color: #fff;
    color: #ff6a5c;
    height: 40px;
}
.header-logo {
    float: left;
    font-size: 30px;
    padding: 18px 35px;
}

.header-list li {
    float: left;
    padding: 30px 18px;
}

.main {
    padding: 90px 60px;
}

.container h1{
    font-size: 100px;
}

.container h2{
    font-size: 40px;
}

.contents {
    height: 500px;
    margin-top: 50px;
}

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 24px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents-item {
    float: left;
    margin-right: 40px;
}

.contents-item p{
    font-size: 25px;
    margin-top: 30px;
}

.footer {
    background-color: #fff;
    color: #ff6a5c;
    height: 120px;
    padding: 40px;
}

div.container-m {
    margin-top: 80px;
}

.container img{
    width: 100%;
    margin-bottom: 100px;
}

div.container-m {
    margin-top: 80px;
}

.footer {
    float: right;
}